/* General Rules*/
.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.setting-text {
    font-family: 'PrecisionSans_Regular' ;
    color: #2E2E30;
    padding-top: 1px;
}

.setting-light-text {
    font-family: 'PrecisionSans_Light';
}
.setting-arrow {
    background: url("../images/wllp_menu_arrows.png") no-repeat top left;
    height: 16px;
    width: 16px;
}

.setting-arrow.right {
    background-position: -16px 0;
    margin-top: 5px;
    margin-right: 5px;
}
.setting-arrow.left {
    margin-top: 4px;
    margin-left: 5px;
}

/* Important hover effect removed in js*/
.menu-title.hover:hover {
    background: #527F56;
    cursor: pointer;
}

/* SETTINGS SELECTOR */

.timeline-control-settings-container {
    padding: 13px 0 0 0;
    display: none;
}

.settings-icon {
    background: url("../images/wllp_timeline_controls.png") no-repeat bottom left;
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    text-align: center;
    margin: 5px 5px 5px 10px;
    cursor: pointer;
}

.settings-quality-icon {
    background-position: -175px 0;
}
.settings-language-icon {
    background-position: -125px 0;
}
.settings-cc-icon {
    background-position: -150px 0;
}

.settings-arrow-container {
    float:right;
    margin:5px;
    text-align:center;
}

.timeline-control-settings__popout {
    background:#729C78;
    margin:auto;
    display:block;
    position:absolute;
    bottom:50px;
    right: 100px;
    min-width:210px;
    display: none;
}

@media (max-width: 1480px){
    .timeline-control-settings__popout {
        right: 40px;
    }
}

@media (max-width: 991px){
    .timeline-control-settings__popout {
        right: 0px;
    }
}

.timeline-control-settings__text {
    font-family: 'PrecisionSans_Regular';
    font-size: 90%;
    float:left;
    margin:5px;
    height:25px;
    line-height:25px;
}

.timeline-control-settings__item {
    margin-bottom:5px;
}

.timeline-control-settings__item:hover {
    background: #527F56;
    cursor: pointer;
}

.ie8 .timeline-control-settings__popout {
    right: 20px;
}

.ie7 .timeline-control-settings__popout {
    right: 0px;
    width: 250px;
}

/* QUALITY SELECTOR */

.timeline-control-quality-container {
    padding: 13px 10px 0 10px;
    display: inline-block;
}

.timeline-control-quality__popout {
    font-family: PrecisionSans_Regular;
    background:#729C78;
    margin:auto;
    display:block;
    position:absolute;
    bottom:50px;
    right:145px;
    min-width: 120px;
    display: none;
}

.hd-icon {
    background-image: url('../images/wllp_menu_hd_icon.png');
    height: 10px;
    width: 18px;
    margin-top: 7px;
}

.quality-menu-text {
    text-align: center;
    float: left;
    margin-left: 5px;
    font-size: 1em;
    margin-right: 5px;
}

.quality-menu-title {
    margin:5px 0;
    background: #729C78;
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.timeline-control-quality__item {
    text-align: right;
    font-family: 'PrecisionSans_Regular' ;
    margin-bottom:5px;
}

.timeline-control-quality__item:hover {
    background: #527F56;
    cursor: pointer;
}

.quality-auto-tick-container {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 5px;
    text-align: center;
    line-height: 25px;
}

.quality-item-text {
    font-family: PrecisionSans_Light;
    float: right;
    height: 25px;
    min-width: 50px;
    line-height: 25px;
}

.quality-hd-icon-container {
    width: 18px;
    height: 25px;
    float: right;
    margin: 0 5px 0 10px;
}

.selected-icon, .auto-icon {
    display: none;
}

@media (max-width: 1480px) {
    .timeline-control-quality__popout {
        right: 75px;
    }
}

@media (max-width: 991px) {
    .timeline-control-quality__popout {
        right: 45px;
    }
}

.ie8 .timeline-control-quality__popout {
    right: 70px;
}

.ie7 .timeline-control-quality__popout {
    right: 60px;
    width: 150px;

}

/* LANGUAGE SELECTOR */

.timeline-control-language-container {
    padding: 13px 0 0 0;
    display: inline-block;
}

.timeline-control-language__popout {
    font-family: PrecisionSans_Regular;
    background:#729C78;
    margin:auto;
    display:block;
    position:absolute;
    bottom:50px;
    right:130px;
    min-width: 150px;
    display: none;
}

@media (max-width: 1480px){
    .timeline-control-language__popout {
        right: 60px;
    }
}
@media (max-width: 991px){
    .timeline-control-language__popout {
        right: 30px;
    }
}

.language-item-text {
    font-family: PrecisionSans_Light;
    float: right;
    height: 25px;
    min-width: 50px;
    line-height: 25px;
    margin-left: 10px
}

.language-menu-text {
    text-align: center;
    float: left;
    margin-left: 10px;
    font-size: 1em;
    margin-right: 5px;
}

.language-menu-title {
    margin:5px 0;
    background: #729C78;
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.language-menu-title:hover {
    background: #527F56;
    cursor: pointer;
}

.language-tick-container {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
}

.timeline-control-language__item {
    text-align: right;
    font-family: 'PrecisionSans_Regular' ;
    margin-bottom:5px;
}

.timeline-control-language__item:hover {
    background: #527F56;
    cursor: pointer;
}

.ie8 .timeline-control-language__popout {
    right: 60px;
}

.ie7 .timeline-control-language__popout {
    right: 55px;
    width: 160px;
}

/* CC SELECTOR */

.timeline-control-cc-container {
    padding: 13px 0 0 0;
    display: inline-block;
}

.timeline-control-cc__popout {
    font-family: PrecisionSans_Regular;
    background:#729C78;
    margin:auto;
    display:block;
    position:absolute;
    bottom:50px;
    right:120px;
    display: none;
}

@media (max-width: 1480px){
    .timeline-control-cc__popout {
        right: 55px;
    }
}
@media (max-width: 991px){
    .timeline-control-cc__popout {
        right: 20px;
    }
}

.cc-item-text {
    font-family: PrecisionSans_Light;
    float: right;
    height: 25px;
    min-width: 50px;
    line-height: 25px;
    margin-left: 10px
}

.cc-menu-text {
    text-align: center;
    float: left;
    margin-left: 5px;
    font-size: 1em;
    margin-right: 5px;
}

.cc-menu-title {
    margin:5px 0;
    background: #729C78;
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.cc-menu-title:hover {
    background: #527F56;
    cursor: pointer;
}

.cc-tick-container {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
}

.timeline-control-cc__item {
    text-align: right;
    font-family: 'PrecisionSans_Regular' ;
    margin-bottom:5px;
}

.timeline-control-cc__item:hover {
    background: #527F56;
    cursor: pointer;
}

.ie8 .timeline-control-cc__popout {
    right: 50px;
}

.ie7 .timeline-control-cc__popout {
    right: 40px;
    width: 195px;
}

/* QUALITY ONLY MENU*/

.timeline-control-quality-only-container {
    padding: 13px 10px 0 10px;
    display: block;
}

.timeline-control-quality.open, .timeline-control-quality__popout.open {
    display: block;
}